.bg-orange {
    background-color: orange;
    
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    flex-direction: column;
}


body {
    cursor: url('../images/mouse/ball_4_mouse.png'), auto;
}
nav, li, a {
    cursor: url('../images/mouse/ball_4_mouse.png'), auto;
}


